.dope {
    position: absolute;
    top: 0;
    padding: 3rem 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
}

.icon {
    opacity: 0.3;
    cursor: pointer;
}
